<!--
  Generated template for the Logistics page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>物流</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   [showCancelButton]="showCancelButton"
                   [cancelButtonText]="cancelButtonText"
                   (ionCancel)="doQuery($event)"
                   placeholder="{{placeHolderText}}">
    </ion-searchbar>
  </ion-toolbar>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment style="padding: 10px 16px;background: #fff;" [(ngModel)]="showType" padding (ionChange)="onShowTypeChange()">
    <ion-segment-button value="logistics">
      物流
    </ion-segment-button>
    <ion-segment-button value="infostore">
      信息部
    </ion-segment-button>
  </ion-segment>

  <div class="I_list" *ngIf="showType == 'logistics'">
    <ul>
      <li (click)="goLogisticsDetail(logistics)" *ngFor="let logistics of logisticsList" style="font-size: 14px;">
        <p>出发地</p>
        <span style="right: 50%;top: 13px;" class="color_y">￥{{logistics.loadingCharge}}</span>
        <span style="top: 14px;">目的地</span>
        <p style="font-weight: bold;">{{logistics.departure}}</p>
        <span style="right: 48%;top: 27px;">
          <svg class="icon svg_icon" aria-hidden="true" style="height: 40px;width: 40px;">
            <use xlink:href="#icon-icon-test"></use>
          </svg>
        </span>
        <span style="top: 36px;font-weight: bold;" >{{logistics.destination}}</span>
        <p style="border-top: 1px solid #fff;padding-top: 5px;margin-top: 5px;">{{logistics.infoDepartment.title}}</p>
        <span style="top: 70px;">06-23 09:05发布</span>
      </li>
    </ul>
  </div>

  <div class="interest_list" *ngIf="showType == 'infostore'">
    <ul>
      <li *ngFor="let infostore of infostoreList" (click)="gotoLogisticsList(infostore)">
        <a>
          <img src="./assets/images/banner2.jpg" >
          <div class="list_r">
            <p><span style="font-size: 14px;font-weight: bold;">{{infostore.title}}</span></p>
            <p>联系方式：刘先生 13333333333</p>
            <p>主营业务：山东、上海专线，代发煤矿</p>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div [hidden]="infostoreList.length > 0" class="empty_tips" *ngIf="showType == 'infostore'">
    没有查询到数据
  </div>


  <div [hidden]="logisticsList.length > 0" class="empty_tips" *ngIf="showType == 'logistics'">
    没有查询到数据
  </div>

</ion-content>
