<ion-header>

  <ion-navbar>
    <ion-title>煤价管理</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item>
    <ion-label>煤矿</ion-label>
    <ion-select [(ngModel)]="factory" interface="popover" (ionChange)="onFactoryChange()">
      <ion-option value="{{fa.id}}" *ngFor="let fa of factoryList">{{fa.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>煤种</ion-label>
    <ion-select [(ngModel)]="productType" interface="popover" (ionChange)="onProductTypeChange()">
      <ion-option value="{{prodType.id}}" *ngFor="let prodType of productTypeList">{{prodType.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>

    <ion-item>
      <ion-label fixed>代发价格：</ion-label>
      <ion-input type="text" [(ngModel)]="price2" placeholder="请输入代发价格"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="onSubmit()">提交</button>
  </div>

</ion-content>
