<!--
  Generated template for the FactoryAddUpdate page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>煤矿焦化厂添加更新</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item>
      <ion-label fixed>名称：</ion-label>
      <ion-input type="text" [(ngModel)]="factory.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>描述：</ion-label>
      <ion-textarea type="text" [(ngModel)]="factory.factoryDescribe"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>种类</ion-label>
      <ion-select [(ngModel)]="factory.factoryType" interface="popover">
        <ion-option value="1">煤矿</ion-option>
        <ion-option value="2">焦化厂</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>管理员</ion-label>
      <ion-select [(ngModel)]="factory.onwer.id" interface="popover" >
        <ion-option value="{{user.id}}" *ngFor="let user of userList">{{user.phoneNum}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="factory.factoryType == 1">
      <ion-label>代发人</ion-label>
      <ion-select [(ngModel)]="factory.saler.id" interface="popover" >
        <ion-option value="{{user.id}}" *ngFor="let user of userList">{{user.phoneNum}}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="onSubmit()">保存</button>
  </div>

</ion-content>
