<!--
  Generated template for the FactoryManage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>物流信息管理</ion-title>
    <ion-buttons right>
      <button ion-button (click)="gotoAddPage()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="getItems($event)"
                   placeholder="根据名字查询">
    </ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item-sliding *ngFor="let logistics of logisticsListShow">
      <ion-item tappable (click)="gotoUpdatePage(logistics)">
        出发地：{{logistics.departure}}，到达地：{{logistics.destination}}
        <button ion-button item-right clear>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="red" (click)="deleteLogistics(logistics)">
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let infostore of infostoreList" tappable (click)="gotoInfoStoreDetail(infostore)">

      <ion-thumbnail item-left>
        <img src="./assets/images/thumbnail-totoro.png">
      </ion-thumbnail>

      <h2>{{infostore.title}}</h2>
      <p style="font-size: 10px;">信用等级：5星</p>
      <p style="font-size: 10px;">联系方式：{{infostore.callNumber}}</p>
      <p style="font-size: 10px;">地址：{{infostore.address}}</p>
    </ion-item>
  </ion-list>

</ion-content>
