page-home {

  .swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  /////////////////////////////?
  .title_name {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1rem;
    z-index: 100;
    color: #fff;
    font-size: 1.6rem;

  }

  .title_name a{
    color: #fff;
    font-weight: bold;
  }

  .nav{
    background-color: #fff;
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
  }
  .nav ul li{
    width: 15%;
    float: left;
    margin-left: 13%;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    line-height:1.5rem;
  }
  .nav ul li a{
    color: #8b8b8b;
  }
  .nav ul li img{
    width: 100%;
    -webkit-animation-delay: 1.5s; //动画延迟时间;
    -webkit-animation-duration: 2s;
  }

  .center{
    height:auto;
    overflow: hidden;
    background-color: #fff;
    margin-top: 1rem;
    padding: 1rem 0rem;
    font-size: 1.4rem;
    line-height:2rem;
  }
  .picbg{
    float: left;
    height: 1.5rem;
    width: 1rem;
    background-color: #ff9813;
    margin-right: .5rem;
    border-radius: 0px .75rem .75rem 0px;
    position: relative;
    top: .2rem;
  }
  .pictitle a{
    margin-right: 1rem;
    color: #b6b6b6;
  }
  .bannerside{
    margin-top: 1rem;
  }
  .bannerside img{
    width: 100%;
  }

  .interest_list a img{
    border-radius: 0;
    width: 8rem;
    height: 6rem;
    margin-right: 15px;
  }

  .traffic_title{
    font-size: 15px;
    background: #fff;
  }

  .news_detail{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    white-space: inherit;
    height: 53px;

  }

  .area_icon{
    font-size: 20px !important;
    padding-left: 4px !important;
    padding-top: 2px !important;
  }

  .interest_list ul li {
    padding-bottom: 5px;
    margin-top: 10px;
  }

  .interest_list {
    padding: 0 16px;
  }

}
