page-logistics {

  .I_list {
    height: auto;
    overflow: hidden;
    padding: 0;
    background-color: #f3f3f3 !important;
  }

  .I_list ul li {
    padding: 1rem 16px;
    background: #fff;
    height: auto;
    margin: 10px 0;
    overflow: hidden;
    line-height: 2rem;
    border-bottom: .1rem #EFEFEF solid;
    position: relative;
  }

  .I_list ul li span {
    font-size: 1.4rem;
  }

  .search_input{
    width: 39%;
    padding: 6px;
  }

  .search_icon{
    width: 5%;
    padding: 0 20px 0 10px;
    font-size: 20px;
    color: #06c1ae !important;
  }

  .button-ios {
    margin: 0px;
    padding: 10px;
    height: 33px;
    font-size: 1.6rem;
    position: absolute;
    color: #06c1ae !important;
  }

  .search_sec{
    border-top: 0.55px solid transparent;
    border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
    height: 60px;
    padding: 10px 10px;
  }

  .toolbar .searchbar-ios .searchbar-ios-cancel{
    color: #06c1ae !important;
    display: block !important;
    padding-left: 8px;
  }
}
