page-logistics {


  .toolbar-background-ios{
    //background: black;
    background: #f8f8f8;
  }

  .toolbar .searchbar-ios .searchbar-ios-cancel{
    color: #06c1ae !important;
    display: block !important;
    padding-left: 8px;
  }


}
