<!--
  Generated template for the CoalPriceDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>价格详细</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div>
    <img src="./assets/images/banner2.jpg" style="height: 150px;width: 100%;">
  </div>

  <div class="interest_list">
    <ul>
      <li>
        <div class="list_r">
          <p><span style="font-size: 16px;">{{productPrice.factory.name}}</span></p>
          <p *ngIf="productPrice.factory.factoryType==1">代发人：{{productPrice.factory.saler.nickname}}</p>
          <p *ngIf="productPrice.factory.factoryType==1">
            <a href="tel:{{productPrice.factory.saler.phoneNum}}" style="color: #666 !important;">
              联系电话：{{productPrice.factory.saler.phoneNum}}
              <ion-icon name="call" class="icon_phone"></ion-icon>
            </a>
          </p>
        </div>
      </li>
    </ul>
  </div>

  <div class="intro">
    <span style="font-weight: bold;">简介：</span>{{productPrice.factory.factoryDescribe}}
  </div>

  <ion-grid padding style="background: #fff">
    <ion-row>
      <ion-col>
        <span>煤种</span>
      </ion-col>
      <ion-col>
        <div>{{productPrice.productType.name}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>价格</span>
      </ion-col>
      <ion-col>
        <div>￥{{productPrice.price}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>发热量</span>
      </ion-col>
      <ion-col>
        <div>{{productPrice.coal_fareliang}}K/kg</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>全水分</span>
      </ion-col>
      <ion-col>
        <div>{{productPrice.coal_quanshuifen}}%</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>硫份</span>
      </ion-col>
      <ion-col>
        <div>{{productPrice.coal_liufen}}%</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>挥发份</span>
      </ion-col>
      <ion-col>
        <div>{{productPrice.coal_huifafen}}%</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>灰分</span>
      </ion-col>
      <ion-col>
        <div>{{productPrice.coal_huifen}}%</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span>固定碳</span>
      </ion-col>
      <ion-col>
        <div>{{productPrice.coal_gudingtan}}%</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <button ion-button full color="primary" (click)="gotoBuy()">立即联系购买</button>
</ion-footer>
