page-coal-price-detail {

  ion-col div {
    //background-color: #f0f5ff;
    border: 1px solid black;
    padding: 5px;
  }

  ion-col span {
    background-color: #f0f5ff;
    border: 1px solid black;
    padding: 5px;
    display: block;
    font-weight: bold;
  }

  .col {
    padding: 15px;
    border: 2px solid #fff;
  }

}
