<ion-header>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="doQuery()"
                   placeholder="查询煤价">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides class="slide-title" class="slide-title" [slidesPerView]="pageNumber" [pager]="false">
    <ion-slide *ngFor="let slide of productTypeList; let i = pageIndex;">
      <div (click)="onSlideClick(slide.id)">
        <span class="slide-title-unit" [ngClass]="{'slide-title-active': productType == slide.id}">{{slide.name}}</span>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-segment [(ngModel)]="priceType" (ionChange)="changePriceType()" padding >
    <ion-segment-button value="coal">
      矿方价
    </ion-segment-button>
    <ion-segment-button value="saler">
      代发价
    </ion-segment-button>
  </ion-segment>

  <button ion-item (click)="goProductPriceDetail(productPrice)" *ngFor="let productPrice of productPriceList" style="font-size: 12px;">
    <div>
      <span style="color: blue">{{productPrice.factory.name}}</span>
      <span style="float: right">发热量：{{productPrice.heatQuantity}}大卡</span>
    </div>
    <div>
      <span [ngSwitch]="priceType">
        <span style="color: red;" *ngSwitchCase="'coal'">￥{{productPrice.price}}</span>
        <span style="color: red;" *ngSwitchCase="'saler'">￥{{productPrice.price2}}</span>
      </span>
      <span  style="float: right">更新时间：{{ productPrice.createdTime | moment: ['MM-DD HH:mm'] }}</span>
    </div>
  </button>

  <ion-list-header [hidden]="productPriceList.length > 0">
    没有查询的数据
  </ion-list-header>

</ion-content>
