<!--
  Generated template for the CoalPriceDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>产品详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div style="color: #000;background: #fff;margin: 10px;border-radius: 4px;">
    <div style="padding: 16px;border-bottom: 1px solid #efefef;font-size: 20px;">产品种类：{{productPrice.productType.name}}</div>
    <div style="padding: 16px;border-bottom: 1px solid #efefef">产品价格：{{productPrice.price}}元/吨</div>
    <div style="padding: 16px;border-bottom: 1px solid #efefef">价格类型：{{priceType}}</div>
    <div style="padding: 16px;border-bottom: 1px solid #efefef" *ngIf="productPrice.factory.factoryType==1">是否水洗：{{coalWashing?'水洗':'不水洗'}}</div>
    <div style="padding: 16px;border-bottom: 1px solid #efefef" *ngIf="productPrice.factory.factoryType==1">是否过筛：{{graded?'过筛':'不过筛'}}</div>
    <div style="padding: 16px;border-bottom: 1px solid #efefef" >
      变更幅度：
      <span [ngStyle]="{'color':productPrice.priceDiff>0 ? 'red' : '','color':productPrice.priceDiff<0 ? 'green' : ''}">
        {{productPrice.priceDiff>0?'涨': ''}}
        {{productPrice.priceDiff<0?'降': ''}}
        {{productPrice.priceDiff?productPrice.priceDiff+'元/吨': '无'}}
      </span>
    </div>
    <div style="padding: 16px;">更新时间：{{ productPrice.createdTime | moment: ['MM-DD HH:mm'] }}</div>
  </div>

  <ion-list style="padding: 0px 10px;margin-bottom: 0;">
    <ion-item style="border-radius: 4px;border: 0;">
      <div item-start>
        <ion-icon name="call" style="display: block;font-size: 30px;text-align: center;color: #06c1ae"></ion-icon>
        <span style="color: #666;font-size: 12px;">电话咨询</span>
      </div>
      <h2>{{productPrice.factory.name}}</h2>

      <p style="padding-top: 10px;" *ngIf="productPrice.priceOwnerType==1">交易专员：{{productPrice.factory.onwer?.nickname}} </p>
      <p *ngIf="productPrice.priceOwnerType==1">交易电话：<a class="text_phone" href="tel:{{productPrice.factory.onwer?.phoneNum}}">{{productPrice.factory.onwer?.phoneNum}}</a></p>

      <p style="padding-top: 10px;" *ngIf="productPrice.priceOwnerType==2">交易专员：{{productPrice.factory.saler?.nickname}} </p>
      <p *ngIf="productPrice.priceOwnerType==2">交易电话：<a class="text_phone" href="tel:{{productPrice.factory.saler?.phoneNum}}">{{productPrice.factory.saler?.phoneNum}}</a></p>
    </ion-item>
  </ion-list>

  <div style="padding: 13px;">详细指标</div>
  <ion-grid style="text-align: center;color: #000;padding: 0" *ngIf="productPrice.factory.factoryType==1">
    <ion-row>
      <ion-col>发热量(大卡)</ion-col>
      <ion-col>{{productPrice.coal_fareliang}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>全水分(%)</ion-col>
      <ion-col>{{productPrice.coal_quanshuifen}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>硫份(%)</ion-col>
      <ion-col>{{productPrice.coal_liufen}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>挥发份(%)</ion-col>
      <ion-col>{{productPrice.coal_huifafen}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>灰分(%)</ion-col>
      <ion-col>{{productPrice.coal_huifen}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="text-align: center;color: #000;padding: 0" *ngIf="productPrice.factory.factoryType==2">
    <ion-row>
      <ion-col>含硫(%)</ion-col>
      <ion-col>{{productPrice.coke_hanliu}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>含碳(%)</ion-col>
      <ion-col>{{productPrice.coke_hantan}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>挥发份(%)</ion-col>
      <ion-col>{{productPrice.coke_huifafen}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>灰分(%)</ion-col>
      <ion-col>{{productPrice.coke_huifen}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>水份(%)</ion-col>
      <ion-col>{{productPrice.coke_shuifen}}</ion-col>
    </ion-row>
  </ion-grid>

  <img imageViewer src="{{productPrice.reportImage}}" *ngIf="productPrice.reportImage" style="display: block;padding-bottom: 10px;">
  <img imageViewer src="{{productPrice.productImage}}" *ngIf="productPrice.productImage">
</ion-content>

<ion-footer>
  <button ion-button full color="primary" (click)="gotoBuy()">立即联系购买</button>
</ion-footer>
