<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   [showCancelButton]="showCancelButton"
                   [cancelButtonText]="cancelButtonText"
                   (ionCancel)="doQuery($event)"
                   placeholder="根据厂矿名称查询">
    </ion-searchbar>
  </ion-toolbar>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides class="slide-title" class="slide-title" [slidesPerView]="pageNumber" [pager]="false">
    <ion-slide *ngFor="let slide of productTypeList; let i = pageIndex;">
      <div (click)="onSlideClick(slide.id)">
        <span class="slide-title-unit" [ngClass]="{'slide-title-active': productType == slide.id}">{{slide.name}}</span>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-segment style="padding: 10px 16px;" [(ngModel)]="priceType" padding *ngIf="factoryType == 1">
    <ion-segment-button value="coal">
      矿方价
    </ion-segment-button>
    <ion-segment-button value="saler">
      代发价
    </ion-segment-button>
  </ion-segment>

  <div class="I_list">
    <ul>
      <li (click)="goProductPriceDetail(productPrice)" *ngFor="let productPrice of productPriceList">
        <a href="#">
          <p style="font-weight: bold;">{{productPrice.factory.name}}</p>
          <span class="color_green" style="top: 14px;">{{ productPrice.createdTime | moment: ['MM-DD HH:mm'] }}</span>
          <p [ngSwitch]="priceType">
            <b class="color_y" *ngSwitchCase="'coal'">价格：￥{{productPrice.price}}</b>
            <b class="color_y" *ngSwitchCase="'saler'">价格：￥{{productPrice.price2}}</b>
          </p>
          <span  style="top: 36px;color: red;" *ngIf="productPrice.priceDiff>0">涨{{productPrice.priceDiff}}元</span>
          <span  style="top: 36px;color: green;" *ngIf="productPrice.priceDiff==0">价格无变化</span>
          <span  style="top: 36px;color: green;" *ngIf="productPrice.priceDiff<0">跌{{Math.abs(productPrice.priceDiff)}}元</span>
          <p *ngIf="factoryType==1" style="font-size: 10px;">挥:{{productPrice.coal_huifafen}}% | 水:{{productPrice.coal_quanshuifen}}% | 灰:{{productPrice.coal_huifen}}% | 硫:{{productPrice.coal_liufen}}% | 热:{{productPrice.coal_fareliang}}K/kg</p>
          <p *ngIf="factoryType==2" style="font-size: 10px;">挥:{{productPrice.coke_huifafen}}% | 水:{{productPrice.coke_quanshuifen}}% | 灰:{{productPrice.coke_huifen}}% | 硫:{{productPrice.coke_liufen}}% | 碳:{{productPrice.coke_hantan}}%</p>
        </a>
      </li>
    </ul>
  </div>

  <div [hidden]="productPriceList.length > 0" class="empty_tips">
    没有查询到数据
  </div>

</ion-content>
