page-infostore {

  .toolbar-background-ios{
    //background: black;
    background: #f8f8f8;
  }

  .searchbar-ios .searchbar-clear-icon{
    display: none !important;
  }

  .toolbar .searchbar-ios .searchbar-ios-cancel{
    color: #06c1ae !important;
    display: block !important;
    padding-left: 8px;
  }

}
