<ion-header>
  <ion-navbar>
    <ion-title>
      煤友圈
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="grey" (click)="presentTimelineCreateModal()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content pullingIcon="md-aperture"></ion-refresher-content>
  </ion-refresher>

  <header>
    <img id="bg" src="./assets/picture/1_bg.png">
    <p id="user-name" class="data-name">{{ heyApp.authService.userInfo?.nickname }}</p>
    <img imageViewer="{{ heyApp.helper.getImg(heyApp.authService.userInfo?.avatar) }}" id="avt" class="data-avt" src="{{ heyApp.helper.getImg(heyApp.authService.userInfo?.avatar) }}?imageView/2/w/100">
  </header>

  <div id="main">
    <div id="list">
      <ul>
        <li *ngFor="let timeline of timelineService.timelines; let i=index">

          <div class="po-avt-wrap">
            <img imageViewer="{{ heyApp.helper.getImg(timeline.author?.avatar) }}" class="po-avt" src="{{ heyApp.helper.getImg(timeline.author?.avatar) }}?imageView/2/w/100">
          </div>

          <div class="po-cmt">
            <div class="po-hd">
              <p class="po-name" (click)="gotoTimelineDetailPage(timeline, i)">{{ timeline.author?.nickname }}</p>
              <p class="post">
                <span (click)="gotoTimelineDetailPage(timeline, i)">{{formatContent(timeline.content, timeline.isAll)| nl2br}}</span>
                <u *ngIf="!timeline.isAll && timeline.content && timeline.content.length>100" (click)="showTimelineAll(i)" class="is_show">展开</u>
                <u *ngIf="timeline.isAll && timeline.content && timeline.content.length>100" (click)="showTimelineAll(i)" class="is_show">收起</u>
                <img imageViewer="{{ timeline.imgs[0].uri}}" *ngIf="timeline.imgs.length === 1" src="{{ timeline.imgs[0].uri}}?imageView/2/w/200">

                <span class="img-muilt" [ngClass]="{'img-odd': (timeline.imgs.length % 2)}" *ngIf="timeline.imgs.length > 1">
                  <img imageViewer="{{heyApp.helper.getImg(img.uri)}}" src="{{heyApp.helper.getImg(img.uri)}}?imageView/2/w/200" *ngFor="let img of timeline.imgs; let i = index">
                  <font class="clear-float"></font>
                </span>
              </p>
              <p class="time">{{ timeline.created_at | timeago }}</p>
              <span style="position: absolute;right: 70px;font-size: 14px;">
                <ion-icon *ngIf="!timeline.is_like" name="ios-heart-outline" (click)="setLikeForTimeline(timeline)"></ion-icon>
                <ion-icon style="color: red;" *ngIf="timeline.is_like" name="ios-heart" (click)="setLikeForTimeline(timeline)"></ion-icon>
                {{timeline.like_num}}
              </span>
              <span style="position: absolute;right: 18px;font-size: 14px;">
                <ion-icon name="ios-chatbubbles-outline" (click)="gotoTimelineDetailPage(timeline, i)"></ion-icon>
                {{timeline.comment_num}}
              </span>

            </div>

          </div>

        </li>
      </ul>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
