<ion-header>
  <ion-navbar>
    <ion-title>
      煤友圈
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="grey" (click)="presentTimelineCreateModal()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content pullingIcon="md-aperture"></ion-refresher-content>
  </ion-refresher>

  <header>
    <img id="bg" src="./assets/picture/1_bg.png">
    <p id="user-name" class="data-name">{{ heyApp.authService.userInfo?.nickname }}</p>
    <img id="avt" class="data-avt" src="{{ heyApp.helper.getImg(heyApp.authService.userInfo?.avatar) }}?imageView/2/w/100">
  </header>

  <div id="main">
    <div id="list">
      <ul>
        <li *ngFor="let timeline of timelineService.timelines; let i=index">

          <div class="po-avt-wrap">
            <img class="po-avt" src="{{ heyApp.helper.getImg(timeline.author?.avatar) }}?imageView/2/w/100">
          </div>

          <div class="po-cmt">
            <div class="po-hd">
              <p class="po-name">{{ timeline.author?.nickname }}</p>
              <p class="post">
                {{timeline.content | nl2br}}
                <!--<div *ngIf="timeline.imgs.length === 1">-->
                  <!--<img src="{{ heyApp.helper.getImg(timeline.imgs[0].uri) }}?imageView/2/w/800">-->
                <!--</div>-->

                <!--<div class="img-muilt" [ngClass]="{'img-odd': (timeline.imgs.length % 2)}" *ngIf="timeline.imgs.length > 1">-->
                  <!--<div *ngFor="let img of timeline.imgs; let i = index" [ngStyle]="{'background-image': 'url(' + heyApp.helper.getImg(img.uri) + ')'}"></div>-->
                  <!--<span class="clear-float"></span>-->
                <!--</div>-->
              </p>
              <p class="time">{{ timeline.created_at | timeago }}</p>
              <!--<div class="like" *ngIf="timeline.like_num > 0" setLikeForTimeline(timeline)>-->
                <!--<img src="./assets/picture/3_l.png">timeline.like_num-->
              <!--</div>-->
              <img class="c-icon" src="./assets/picture/2_c.png" (click)="gotoTimelineDetailPage(timeline, i)">
            </div>

            <div class="r" *ngIf="timeline.comment_num > 0"></div>

            <div class="cmt-wrap" *ngIf="timeline.comment_num > 0">

              <div class="cmt-list" *ngIf="timeline.comment_num > 0">
                <p *ngFor="let comment of timeline.comments; let i=index;">

                  <font *ngIf="!comment.parent_id"><span>{{ comment.author?.nickname }}</span>：{{ comment.content }}</font>

                  <font *ngIf="comment.parent_id">
                    <span>{{ comment.author?.nickname }}</span>：回复
                    <span>{{ comment.parents.author.nickname }}:</span>{{ comment.content }}
                  </font>

                </p>
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
