<ion-header>
  <ion-navbar>
    <ion-title>
      神木煤炭
    </ion-title>

  </ion-navbar>

  <ion-segment *ngIf="isPerson==0" tappable style="padding: 10px 16px;background: #fff;" [(ngModel)]="timelineService.timelineType" padding (click)="onSegmentClick()">
    <ion-segment-button value="1">
      煤炭
    </ion-segment-button>
    <ion-segment-button value="2">
      物流
    </ion-segment-button>
    <ion-segment-button value="3">
      生活
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content pullingIcon="md-aperture"></ion-refresher-content>
  </ion-refresher>

  <div id="main">
    <div>
      <ul>
        <li *ngFor="let timeline of timelineService.timelines; let i=index">

          <div class="timeline-div">

            <div class="po-cmt">
              <div class="po-hd">
                <div class="po-avt-wrap">
                  <img tappable imageViewer="{{ heyApp.helper.getImg(timeline.author?.avatar) }}" class="po-avt" src="{{ heyApp.helper.getImg(timeline.author?.avatar) }}?imageView/2/w/100">
                </div>

                <p class="po-name" tappable (click)="gotoTimelineDetailPage(timeline, i)">{{ timeline.author?.nickname }}</p>
                <p class="time">{{ timeline.created_at | timeago }}</p>
                <p class="post">
                  <span tappable (click)="gotoTimelineDetailPage(timeline, i)" style="white-space: pre-line;">{{formatContent(timeline.content, timeline.isAll)}}</span>
                  <u tappable *ngIf="!timeline.isAll && timeline.content && timeline.content.length>100" (click)="showTimelineAll(i)" class="is_show">全文</u>
                  <u tappable *ngIf="timeline.isAll && timeline.content && timeline.content.length>100" (click)="showTimelineAll(i)" class="is_show">收起</u>

                  <u *ngIf="timeline.contactPhone" style="text-decoration: none;border-top: 0.5px solid #e2e2e2;
    padding-top: 10px;
    margin-top: 10px;
    display: block;">联系电话：<a tappable class="text_phone" href="tel:{{timeline.contactPhone}}">{{timeline.contactPhone}}</a></u>
                  <img tappable imageViewer="{{ timeline.imgs[0].uri}}" *ngIf="timeline.imgs.length === 1" src="{{ timeline.imgs[0].uri}}?imageView/2/w/200">

                  <span class="img-muilt" [ngClass]="{'img-odd': (timeline.imgs.length % 2)}" *ngIf="timeline.imgs.length > 1">
                  <img tappable imageViewer="{{heyApp.helper.getImg(img.uri)}}" src="{{heyApp.helper.getImg(img.uri)}}?imageView/2/w/200" *ngFor="let img of timeline.imgs; let i = index">
                  <font class="clear-float"></font>
                </span>
                </p>

                <div class="timeline-op">
                  <span tappable class="action-button" (click)="setLikeForTimeline(timeline)">
                    <ion-icon *ngIf="!timeline.is_like" name="ios-thumbs-up-outline" ></ion-icon>
                    <ion-icon style="color: red;" *ngIf="timeline.is_like" name="ios-thumbs-up-outline"></ion-icon>
                    {{timeline.like_num}}赞
                  </span>
                    <span tappable class="action-button" (click)="gotoTimelineDetailPage(timeline, i)">
                    <ion-icon name="ios-chatboxes-outline" ></ion-icon>
                    {{timeline.comment_num}}评论
                  </span>
                  <span tappable class="action-button" (click)="presentActionSheet(timeline, i)">
                    <ion-icon name="ios-share-outline" ></ion-icon>
                    分享
                  </span>
                </div>

              </div>

            </div>

          </div>


        </li>
      </ul>
    </div>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="danger"><ion-icon name="camera"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="presentTimelineCreateModal('1')">煤炭</button>
      <button ion-fab color="secondary" (click)="presentTimelineCreateModal('2')">物流</button>
      <button ion-fab color="dark" (click)="presentTimelineCreateModal('3')">生活</button>
    </ion-fab-list>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
