<!--
  Generated template for the CoalPriceManage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>产品价格管理</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list style="padding-top: 20px;">

    <ion-item>
      <ion-label fixed>厂矿名称：</ion-label>
      <ion-input type="text" [(ngModel)]="productPrice.factory.name" placeholder="请输入厂矿名称" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="productPrice.productType.name">
      <ion-label fixed>产品种类：</ion-label>
      <ion-input type="text" [(ngModel)]="productPrice.productType.name" placeholder="请输入煤种" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="!productPrice.productType.name">>
      <ion-label>产品种类：</ion-label>
      <ion-select [(ngModel)]="productPrice.productType.id" interface="popover">
        <ion-option value="{{productType.id}}" *ngFor="let productType of productTypeList">{{productType.name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="productPrice.productType.name">
      <ion-label fixed>有无水洗：</ion-label>
      <ion-input type="text"  value="{{productPrice.coalWashing?'水洗':'不水洗'}}" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="!productPrice.productType.name">>
      <ion-label>有无水洗：</ion-label>
      <ion-select [(ngModel)]="productPrice.coalWashing" interface="popover">
        <ion-option value="0">不水洗</ion-option>
        <ion-option value="1">水洗</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="productPrice.productType.name">
      <ion-label fixed>是否过筛：</ion-label>
      <ion-input type="text"  value="{{productPrice.graded?'过筛':'不过筛'}}" readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="!productPrice.productType.name">>
      <ion-label>是否过筛：</ion-label>
      <ion-select [(ngModel)]="productPrice.graded" interface="popover">
        <ion-option value="0">不过筛</ion-option>
        <ion-option value="1">过筛</ion-option>
      </ion-select>
    </ion-item>

      <ion-item>
      <ion-label>是否生产：</ion-label>
      <ion-select [(ngModel)]="productPrice.state" interface="popover">
        <ion-option value="1" selected="true">是</ion-option>
        <ion-option value="0">否</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label fixed>价格：</ion-label>
      <ion-input type="number" [(ngModel)]="productPrice.price" placeholder="请输入煤炭价格"></ion-input>
    </ion-item>

    <div *ngIf="productPrice.factory.factoryType==1">

      <ion-item>
        <ion-label fixed>发热量：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coal_fareliang" placeholder="请输入发热量"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>全水分：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coal_quanshuifen" placeholder="请输入全水分"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>硫份：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coal_liufen" placeholder="请输入硫份"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>挥发份：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coal_huifafen" placeholder="请输入挥发份"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>灰分：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coal_huifen" placeholder="请输入灰分"></ion-input>
      </ion-item>

    </div>

    <div *ngIf="productPrice.factory.factoryType==2">
      <ion-item>
        <ion-label fixed>含硫：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coke_hanliu" placeholder="请输入含硫"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>含碳：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coke_hantan" placeholder="请输入含碳"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>挥发份：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coke_huifafen" placeholder="请输入挥发份"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>灰分：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coke_huifen" placeholder="请输入灰分"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>水份：</ion-label>
        <ion-input type="number" [(ngModel)]="productPrice.coke_shuifen" placeholder="请输入水份"></ion-input>
      </ion-item>
    </div>

    <ion-item style="height: 200px;">
      <ion-label fixed>化验报告照片：</ion-label>
      <img imageViewer="{{productPrice.reportImage}}" item-start src="{{productPrice.reportImage}}?imageView/2/w/400" style="width: 150px;position: absolute;left: 130px;">
      <button ion-button outline item-end icon-left>
        选择图片
        <input class="input-img" #inputReportImg type="file" (change)="uploadImg($event, 'reportImage')" accept="image/*">
      </button>
      <button ion-button outline item-end icon-left style="position: absolute;right: 8px;top: 110px;" (click)="clearImage('reportImage')">
        删除图片
      </button>
    </ion-item>

    <ion-item style="height: 200px;">
      <ion-label fixed>产品照片：</ion-label>
      <img imageViewer="{{productPrice.productImage}}" item-start src="{{productPrice.productImage}}?imageView/2/w/400" style="width: 150px;position: absolute;left: 130px;">
      <button ion-button outline item-end icon-left>
        选择图片
        <input class="input-img" #inputProductImg type="file" (change)="uploadImg($event, 'productImage')" accept="image/*">
      </button>
      <button ion-button outline item-end icon-left style="position: absolute;right: 8px;top: 110px;" (click)="clearImage('productImage')">
        删除图片
      </button>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" block (click)="onSubmit()">提交</button>
  </div>

</ion-content>
