<!--
  Generated template for the ProductList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>产品列表</ion-title>
    <ion-buttons right>
      <button ion-button (click)="goProductPriceDetail()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="I_list">
    <ul>
      <li (click)="goProductPriceDetail(productPrice)" *ngFor="let productPrice of productPriceList" [ngStyle]="{'background':productPrice.state===0 ? '#efefef' : '' }">

        <div>
          <span style="font-weight: bold;">{{productPrice.productType.name}}</span><span *ngIf="productPrice.state===0" style="color: red">(已停产)</span>
          <span style="float: right;font-size: 12px;">{{ productPrice.createdTime | moment: ['MM-DD HH:mm'] }}</span>
        </div>

        <div>
          <span>是否水洗：{{productPrice.coalWashing?"水洗":"不水洗"}}</span>
          <span style="float: right;">是否过筛：{{productPrice.graded?"过筛":"不过筛"}}</span>
        </div>

        <div style="padding: 3px 0">
          <span [ngStyle]="{'color':productPrice.state===0 ? '#333' : '#ff5400'}">
            价格：￥{{productPrice.price}}
          </span>
          <span style="float: right;font-size: 12px;color: red;" *ngIf="productPrice.priceDiff>0">涨{{productPrice.priceDiff}}元</span>
          <span style="float: right;font-size: 12px;" *ngIf="productPrice.priceDiff==0">价格无变化</span>
          <span style="float: right;font-size: 12px;color: green;" *ngIf="productPrice.priceDiff<0">跌{{Math.abs(productPrice.priceDiff)}}元</span>
        </div>

        <ion-grid style="padding: 0;font-size: 10px;" *ngIf="factoryType==1 || factoryType==3">
          <ion-row>
            <ion-col style="padding: 0;white-space: nowrap;">
              <svg class="icon svg_icon icon_params_1" aria-hidden="true">
                <use xlink:href="#icon-re"></use>
              </svg>{{productPrice.coal_fareliang}}
            </ion-col>
            <ion-col style="padding: 0">
              <svg class="icon svg_icon icon_params_2" aria-hidden="true">
                <use xlink:href="#icon-shui"></use>
              </svg>{{productPrice.coal_quanshuifen}}%
            </ion-col>
            <ion-col style="padding: 0">
              <svg class="icon svg_icon icon_params_1" aria-hidden="true">
                <use xlink:href="#icon-hui"></use>
              </svg>{{productPrice.coal_huifen}}%
            </ion-col>
            <ion-col style="padding: 0">
              <svg class="icon svg_icon icon_params_2" aria-hidden="true">
                <use xlink:href="#icon-liu"></use>
              </svg>{{productPrice.coal_liufen}}%
            </ion-col>
            <ion-col style="padding: 0">
              <svg class="icon svg_icon icon_params_1" aria-hidden="true">
                <use xlink:href="#icon-hui1"></use>
              </svg>{{productPrice.coal_huifafen}}%
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid *ngIf="factoryType==2" style="padding: 0;font-size: 10px;">
          <ion-row>
            <ion-col style="padding: 0">
              <svg class="icon svg_icon icon_params_1" aria-hidden="true">
                <use xlink:href="#icon-hui1"></use>
              </svg>{{productPrice.coke_huifafen}}%
            </ion-col>
            <ion-col style="padding: 0">
              <svg class="icon svg_icon icon_params_2" aria-hidden="true">
                <use xlink:href="#icon-shui"></use>
              </svg>{{productPrice.coke_quanshuifen}}%
            </ion-col>
            <ion-col style="padding: 0">
              <svg class="icon svg_icon icon_params_1" aria-hidden="true">
                <use xlink:href="#icon-hui"></use>
              </svg>{{productPrice.coke_huifen}}%
            </ion-col>
            <ion-col style="padding: 0">
              <svg class="icon svg_icon icon_params_2" aria-hidden="true">
                <use xlink:href="#icon-liu"></use>
              </svg>{{productPrice.coke_liufen}}%
            </ion-col>
            <ion-col style="padding: 0;white-space: nowrap;">
              <svg class="icon svg_icon icon_params_1" aria-hidden="true">
                <use xlink:href="#icon-tan"></use>
              </svg>{{productPrice.coke_hantan}}%
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
    </ul>
  </div>

  <div [hidden]="productPriceList.length > 0" class="empty_tips">
    没有查询到数据
  </div>

</ion-content>
