
<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="background-color: #06c1ae;padding: 11% 5% 11% 15%;height: 125px;" tappable (click)="gotoMeProfilePage()" *ngIf="heyApp.authService.isAuth">
    <div style="width: 20%;float: left;">
      <img style="border: 0;width: 50px;height: 50px;margin-top: 3px;;border-radius: 50%;" src="{{ heyApp.helper.getImg(heyApp.authService.userInfo?.avatar)}}"/>
    </div>
    <div style="width: 45%;margin-left: 5%;float: left;">
      <p style="font-size: 15px;color: #fff;line-height: 30px;">{{ heyApp.authService.userInfo?.nickname }}</p>
      <p style="font-size: 14px;color: #fff;line-height: 15px;">{{ heyApp.authService.userInfo?.phoneNum || '' }}<ion-icon name="arrow-forward" style="font-size: 14px;padding-left: 10px;"></ion-icon></p>
    </div>
  </div>

  <div style="background-color: #06c1ae;padding: 11% 5% 11% 15%;height: 125px;" tappable (click)="gotoMeProfilePage()" *ngIf="!heyApp.authService.isAuth">
    <div style="width: 20%;float: left;">
      <img style="border: 0;width: 50px;height: 50px;margin-top: 3px;;border-radius: 50%;" src="./assets/images/touxiang.png"/>
    </div>
    <div style="width: 40%;margin-left: 5%;float: left;">
      <p style="font-size: 15px;color: #fff;line-height: 30px;">您好</p>
      <p style="font-size: 14px;color: #fff;line-height: 15px;">立即登录<ion-icon name="arrow-forward" style="font-size: 14px;padding-left: 10px;"></ion-icon></p>
    </div>
  </div>

  <ion-list>
    <button ion-item (click)="gotoMeProfilePage()">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-wodeziliao"></use>
      </svg>
      我的资料
    </button>
    <button ion-item (click)="gotoMyTimelinePage()">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-meiyouquan"></use>
      </svg>
      煤炭圈
    </button>
  </ion-list>

  <ion-list>
    <button ion-item (click)="gotoCoalOrignPriceMangePage()" *ngIf="heyApp.authService.userInfo?.isCoalManager == 1">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-jiaohuachangweihu"></use>
      </svg>
      煤炭矿方价管理
    </button>
    <button ion-item (click)="gotoCoalSalePriceManagePage()" *ngIf="heyApp.authService.userInfo?.isCoalSaler == 1">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-jiaohuachangweihu"></use>
      </svg>
      煤炭代发价管理
    </button>
    <button ion-item (click)="gotoLantanPriceManagePage()" *ngIf="heyApp.authService.userInfo?.isCokeManager == 1">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-jiaohuachangweihu"></use>
      </svg>
      焦化厂兰炭价管理
    </button>
    <button ion-item (click)="gotoLogisticseManagePage()" *ngIf="heyApp.authService.userInfo?.isInfoStoreManager == 1">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-jiaohuachangweihu"></use>
      </svg>
      信息部物流管理
    </button>
    <button ion-item (click)="gotoFactoryManagePage()" *ngIf="heyApp.authService.userInfo?.isSuperManager == 1">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-jiaohuachangweihu"></use>
      </svg>
      煤矿焦化厂管理
    </button>
    <button ion-item (click)="gotoInfoStoreManagePage()" *ngIf="heyApp.authService.userInfo?.isSuperManager == 1">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-jiaohuachangweihu"></use>
      </svg>
      信息部管理
    </button>
    <button ion-item (click)="gotoLifeStoreManagePage()" *ngIf="heyApp.authService.userInfo?.isSuperManager == 1">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-jiaohuachangweihu"></use>
      </svg>
      生活服务类数据管理
    </button>
  </ion-list>

  <ion-list>
    <button ion-item [navPush]="HCAboutPage">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-guanyuwomen"></use>
      </svg>
      关于我们
    </button>
    <button ion-item (click)="openTermsPage()">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-yonghuxieyi"></use>
      </svg>
      用户协议
    </button>
    <button ion-item [navPush]="HCFeedbackPage">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-yijianfankui"></use>
      </svg>
      意见反馈
    </button>
    <button ion-item (click)="gotoContact()">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-jiaohuachangweihu"></use>
      </svg>
      客服电话
      <span item-end class="text_phone">0912-8313333</span>
    </button>
    <button ion-item [navPush]="MeSettingPage">
      <svg class="icon svg_icon" aria-hidden="true">
        <use xlink:href="#icon-shezhi"></use>
      </svg>
      设置
    </button>
  </ion-list>

</ion-content>
