// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import "global.hc";

@import "animate.min";
@import "main";
@import "style";

$theme-color: #06c1ae;
$background-color: #f3f3f3;
$text-color: #333;
$background-color: #fff;
$text-font-size: 1.4rem;
$refresher-icon-color: #06c1ae;


$tabs-ios-tab-text-color-active: $theme-color;
$tabs-ios-tab-icon-color-active: $theme-color;
$tabs-ios-tab-text-color: #666;
$tabs-ios-tab-icon-color: #666;
$toolbar-ios-button-color: $theme-color;


$segment-button-ios-background-color-activated: #06c1ae;
$segment-button-ios-height: 35px;
$segment-button-ios-line-height: 35px;
.ion-title {
  text-align: center;
}

//.tabbar.show-tabbar {
//  opacity: 0.95;
//}

.button-ios-primary{
  background-color: #06c1ae !important;
}

.tabbar{
  border-top: 1px #CCC solid !important;
  background-color: #fff !important;
  line-height: 13px;
}

ion-content {
  font-family: "Microsoft YaHei", Arial, "Helvetica";
  //color: #333;
  color: #000 !important;
  font-size: 14px;
  line-height: 1;
  background-color: #f3f3f3 !important;
}

.list-ios{
  margin-bottom: 20px;
}
.label-ios {
  margin: 11px 8px 11px 0;
  color: #333 !important;
  font-size: 1.5rem;
}

.label-ios + ion-input .text-input{
  font-size: 1.5rem;
}

.label-ios + ion-textarea .text-input{
  font-size: 1.5rem;
}

.back-button.show-back-button {
  padding-left: 10px !important;
}

.bar-buttons-ios{
  padding-left: 10px;
}

.button-ios{
  border-radius: 6px !important;
}

.button-full-ios {
  border-radius: 0 !important;
}
.button-outline-ios{
  border-color: #06c1ae !important;
  color: #06c1ae !important;
}

.toolbar .searchbar-ios .searchbar-ios-cancel {
  padding-left: 10px !important;
}



//custom
.empty_tips{
  text-align: center;
  padding-top: 40%;
}
.icon_phone{
  position: relative !important;
  color: #06c1ae !important;
  padding: 0 5px !important;
  font-size: 20px !important;
  top: 4px !important;
}

.text_phone{
  color: #06c1ae !important;
  text-decoration: underline;
}
.interest_list {
  margin-top: 10px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.intro{
  margin: 10px 0;
  padding: 10px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  background: #fff;
}

.svg_icon{
  width: 2em;
  height: 2em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.input-img {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}

.I_list{
  height: auto;
  overflow: hidden;
  padding: 0px 16px;
  background-color: #fff;
}
.I_list ul li{
  padding:1rem 0rem;
  height:auto;
  overflow: hidden;
  line-height:2rem;
  border-bottom: .1rem #EFEFEF solid;
  position: relative;
}
.I_list ul li p{
  font-size: 1.4rem;
  color: #333;
}
.I_list ul li p font{
  color: #999;
  font-size: 1.2rem;
}

//.list-ios .item-block .item-inner {
//  border-bottom: 1px solid #c8c7cc !important;
//}
//.list-ios > .item-block:first-child {
//  border-top: 1px solid #c8c7cc !important;
//}
//
//.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
//  border-bottom: 1px solid #c8c7cc !important;
//}
//
//.list-ios > .item-block:last-child .item-inner, .list-ios > .item-wrapper:last-child .item-block .item-inner {
//  border-bottom: 0 !important;
//}

$hairlines-width: 1px;
$list-border-color: #e0dfe4;
