page-lifestore-list {

  .interest_list a img{
    border-radius: 0;
    width: 8rem;
    height: 6rem;
    margin-right: 15px;
  }

  .interest_list ul li {
    padding-bottom: 5px;
    margin-top: 10px;
  }
}
