
<ion-content>
  <div style="background-color: #06c1ae;padding: 11% 5% 11% 15%;height: 125px;" tappable (click)="gotoMeProfilePage()" *ngIf="heyApp.authService.isAuth">
    <div style="width: 20%;float: left;">
      <img style="border: 0;width: 50px;height: 50px;margin-top: 3px;;border-radius: 50%;" src="{{ heyApp.helper.getImg(heyApp.authService.userInfo?.avatar)}}"/>
    </div>
    <div style="width: 45%;margin-left: 5%;float: left;">
      <p style="font-size: 15px;color: #fff;line-height: 30px;">{{ heyApp.authService.userInfo?.nickname }}</p>
      <p style="font-size: 14px;color: #fff;line-height: 15px;">{{ heyApp.authService.userInfo?.phoneNum || '' }}<ion-icon name="arrow-forward" style="font-size: 14px;padding-left: 10px;"></ion-icon></p>
    </div>
  </div>

  <div style="background-color: #06c1ae;padding: 11% 5% 11% 15%;height: 125px;" tappable (click)="gotoMeProfilePage()" *ngIf="!heyApp.authService.isAuth">
    <div style="width: 20%;float: left;">
      <img style="border: 0;width: 50px;height: 50px;margin-top: 3px;;border-radius: 50%;" src="./assets/images/touxiang.png"/>
    </div>
    <div style="width: 40%;margin-left: 5%;float: left;">
      <p style="font-size: 15px;color: #fff;line-height: 30px;">您好</p>
      <p style="font-size: 14px;color: #fff;line-height: 15px;">立即登录<ion-icon name="arrow-forward" style="font-size: 14px;padding-left: 10px;"></ion-icon></p>
    </div>
  </div>

  <ion-list>
    <button ion-item (click)="gotoMeProfilePage()">
      我的资料
    </button>
    <button ion-item (click)="gotoMyTimelinePage()">
      煤友圈
    </button>
  </ion-list>

  <ion-list>
    <button ion-item (click)="gotoCoalOrignPriceMangePage()" *ngIf="heyApp.authService.userInfo?.isCoalManager == 1">
      煤炭矿方价维护
    </button>
    <button ion-item (click)="gotoCoalSalePriceManagePage()" *ngIf="heyApp.authService.userInfo?.isCoalSaler == 1">
      煤炭代发价维护
    </button>
    <button ion-item (click)="gotoLantanPriceManagePage()" *ngIf="heyApp.authService.userInfo?.isCokeManager == 1">
      兰炭价维护
    </button>
    <button ion-item (click)="gotoLogisticseManagePage()" *ngIf="heyApp.authService.userInfo?.isInfoStoreManager == 1">
      信息部物流维护
    </button>
    <button ion-item (click)="gotoInfoStoreManagePage()" *ngIf="heyApp.authService.userInfo?.isSuperManager == 1">
      煤矿焦化厂管理
    </button>
    <button ion-item (click)="gotoInfoStoreManagePage()" *ngIf="heyApp.authService.userInfo?.isSuperManager == 1">
      信息部管理
    </button>
    <button ion-item (click)="gotoLifeStoreManagePage()" *ngIf="heyApp.authService.userInfo?.isSuperManager == 1">
      生活服务类数据管理
    </button>
  </ion-list>

  <ion-list>
    <button ion-item [navPush]="MeSettingPage">
      设置
    </button>
  </ion-list>

</ion-content>
