<ion-header class="hide">
  <ion-navbar>
    <ion-title>
      我的
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button clear icon-only color="{{ noticeService.noCheckNotices.length ? 'danger' : 'dark' }}" (click)="gotoMeNoticePage()">
          <ion-icon name="notifications"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>

  <ion-grid id="section-avatar">

    <ion-row>
      <ion-col></ion-col>

      <ion-col padding-top>
        <img tappable (click)="gotoMeProfilePage()" *ngIf="heyApp.authService.isAuth" class="avatar" src="{{ heyApp.helper.getImg(heyApp.authService.userInfo?.avatar) }}?imageView/2/w/400">
        <img *ngIf="!heyApp.authService.isAuth" class="avatar" src="./assets/images/userAvatar-default.png">
      </ion-col>

      <ion-col id="section-btns" text-right>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-10></ion-col>

      <ion-col id="section-info" *ngIf="heyApp.authService.isAuth" center class="text-center" tappable (click)="gotoMeProfilePage()">
        <div class="nickname">{{ heyApp.authService.userInfo?.nickname }}</div>
        <div class="bio">{{ heyApp.authService.userInfo?.bio || '' }}</div>
      </ion-col>

      <ion-col id="section-info" *ngIf="!heyApp.authService.isAuth" center class="text-center" tappable (click)="gotoMeProfilePage()">
        <div class="nickname">您好</div>
        <div class="bio">立即登录</div>
      </ion-col>

      <ion-col width-10></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      我的
    </ion-list-header>

    <button ion-item (click)="gotoMeProfilePage()">
      <ion-icon name="person" item-left></ion-icon>
      我的资料
    </button>

    <button ion-item (click)="gotoMyTimelinePage()">
      <ion-icon name="flower" item-left></ion-icon>
      煤友圈
    </button>

    <button ion-item (click)="gotoCoalOrignPriceMangePage()">
      <ion-icon name="quote" item-left></ion-icon>
      煤炭矿方价维护
    </button>

    <button ion-item (click)="gotoCoalSalePriceManagePage()">
      <ion-icon name="quote" item-left></ion-icon>
      煤炭代发价维护
    </button>

    <button ion-item (click)="gotoLantanPriceManagePage()">
      <ion-icon name="quote" item-left></ion-icon>
      兰炭价维护
    </button>

    <button ion-item (click)="gotoLogisticseManagePage()">
      <ion-icon name="quote" item-left></ion-icon>
      信息部物流维护
    </button>
  </ion-list>

  <ion-list>
    <ion-list-header>
      设置
    </ion-list-header>

    <button ion-item [navPush]="MeSettingPage">
      <ion-icon name="cog" item-left></ion-icon>
      设置
    </button>
  </ion-list>
</ion-content>
