page-hc-about {
  ion-content{
    background-color: #fff;
  }

  .logo{
    text-align: center;
    padding-top: 10px;
    background: #fff;
  }

  .logo>img {
    width: 60%;
  }

  .intro {
    text-indent: 32px;
    padding: 20px 15px;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    border: 0;
  }
}
