page-hc-about {
  ion-content{
    background-color: #f0f0f0;
  }

  .logo>img {
    width: 100%;
  }

  .intro {
    text-indent: 32px;
    padding: 20px 15px;
    font-size: 16px;
    color: #666;
    line-height: 25px;
  }
}
