<!--<ion-card class="book">-->

  <!--<ion-item>-->
    <!--<ion-avatar item-left>-->
      <!--<img src="assets/image/publisher-avatar.png">-->
    <!--</ion-avatar>-->
    <!--<h2>Marty McFly-->
    <!--</h2>-->
    <!--<p>More we read more we know-->
    <!--</p>-->
  <!--</ion-item>-->

  <!--<img src="assets/image/book-cover-1.jpg" class="book-cover" (click)="openBook()">-->

  <!--<ion-card-content>-->
    <!--<p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.-->
    <!--</p>-->
  <!--</ion-card-content>-->

  <!--<ion-row>-->
    <!--<ion-col offset-80>-->
      <!--<button ion-button icon-left clear small>-->
        <!--<ion-icon name="heart-outline"></ion-icon>-->
        <!--<div></div>-->
      <!--</button>-->
    <!--</ion-col>-->
  <!--</ion-row>-->

<!--</ion-card>-->

<ion-card (click)="openBook()">
  <img src="assets/image/card-saopaolo.png"/>
  <div class="card-title">São Paulo</div>
  <div class="card-subtitle">41 Listings</div>
</ion-card>
